<!--Proyectos-->

<div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
    <div class="container px-5">
        <form>
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="imagenUno" class="form-label">Imagen</label>
                    <input class="form-control" type="file" id="imagenUno">
                </div>
                <div class="col-2 mb-3">
                    <label for="tituloUno" class="form-label">Título</label>
                    <input type="text" class="form-control" id="tituloUno">
                </div>
                <div class="col-3 mb-3">
                    <label for="repositorioUno" class="form-label">Repositorio</label>
                    <input type="text" class="form-control" id="repositorioUno">
                </div>
                <div class="col-3 mb-3">
                    <label for="demoUno" class="form-label">Demo</label>
                    <input type="text" class="form-control" id="demoUno">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-4 mb-3">
                    <label for="imagenDos" class="form-label">Imagen2</label>
                    <input class="form-control" type="file" id="imagenDos">
                </div>
                <div class="col-2 mb-3">
                    <label for="tituloDos" class="form-label">Título2</label>
                    <input type="text" class="form-control" id="tituloDos">
                </div>
                <div class="col-3 mb-3">
                    <label for="repositorioDos" class="form-label">Repositorio2</label>
                    <input type="text" class="form-control" id="repositorioDos">
                </div>
                <div class="col-3 mb-3">
                    <label for="demoDos" class="form-label">Demo2</label>
                    <input type="text" class="form-control" id="demoDos">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-4 mb-3">
                    <label for="imagenTres" class="form-label">Imagen3</label>
                    <input class="form-control" type="file" id="imagenTres">
                </div>
                <div class="col-2 mb-3">
                    <label for="tituloTres" class="form-label">Título3</label>
                    <input type="text" class="form-control" id="tituloTres">
                </div>
                <div class="col-3 mb-3">
                    <label for="repositorioTres" class="form-label">Repositorio3</label>
                    <input type="text" class="form-control" id="repositorioTres">
                </div>
                <div class="col-3 mb-3">
                    <label for="demoTres" class="form-label">Demo3</label>
                    <input type="text" class="form-control" id="demoTres">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-4 mb-3">
                    <label for="imagenCuatro" class="form-label">Imagen4</label>
                    <input class="form-control" type="file" id="imagenCuatro">
                </div>
                <div class="col-2 mb-3">
                    <label for="tituloCuatro" class="form-label">Título4</label>
                    <input type="text" class="form-control" id="tituloCuatro">
                </div>
                <div class="col-3 mb-3">
                    <label for="repositorioCuatro" class="form-label">Repositorio4</label>
                    <input type="text" class="form-control" id="repositorioCuatro">
                </div>
                <div class="col-3 mb-3">
                    <label for="demoCuatro" class="form-label">Demo4</label>
                    <input type="text" class="form-control" id="demoCuatro">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>
        </form>
    </div>
</div>
