<section class="formacion" style="color:white;">
    <div class="container-fluid text-center">
        <h2 class="titulo-secundario h1 p-5">Formación</h2>
        <div class="row">
            <div class="col-xxl-4 col-xl-6 col-md-12">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas" style="width: 30rem;">
                    <figure>
                        <img src="assets/files/Certificados/Principiante-Front.jpg" class="card-img-top"
                            alt="Principiante en Programacion">
                        <img src="assets/files/Certificados/Principiante-Back.jpg" class="card-img-top"
                            alt="Principiante en Programacion">
                    </figure>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 col-md-12">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas" style="width: 30rem;">
                    <figure>
                        <img src="assets/files/Certificados/Front-End-Front.jpg" class="card-img-top" alt="Front End">
                        <img src="assets/files/Certificados/Front-End-Back.jpg" class="card-img-top" alt="Front End">
                    </figure>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 col-md-12">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas" style="width: 30rem;">
                    <figure>
                        <img src="assets/files/Certificados/Java - Front.jpg" class="card-img-top"
                            alt="Java Orientada a Objetos">
                        <img src="assets/files/Certificados/Java - Back.jpg" class="card-img-top"
                            alt="Java Orientada a Objetos">
                    </figure>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 30rem; color: white;">
                    <figure>
                        <img src="assets/files/Certificados/SQL con MySQL Server Oracle - Front.jpg"
                            class="card-img-top" alt="SQL con MySQL -Oracle">
                        <img src="assets/files/Certificados/SQL con MySQL Server Oracle - Back.jpg" class="card-img-top"
                            alt="SQL con MySQL -Oracle">
                    </figure>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-sm-12">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas" style="width: 30rem;">
                    <figure>
                        <img src="assets/files/Certificados/Python, Data Science y Oracle Analytics - Front.jpg"
                            class="card-img-top" alt="Python">
                        <img src="assets/files/Certificados/Python, Data Science y Oracle Analytics - Back.jpg"
                            class="card-img-top" alt="Python">
                    </figure>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 col-md-12">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas" style="width: 30rem;">
                    <figure>
                        <img src="assets/files/Certificados/FullStack-Front.jpg" class="card-img-top"
                            alt="FullStack-ONE">
                        <img src="assets/files/Certificados/FullStack-Back.jpg" class="card-img-top"
                            alt="FullStack-ONE">
                    </figure>
                </div>
            </div>

            <!--Certificados curos cortos-->
            <div class="col-xxl-2 col-xl-4 col-md-6 p-2">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 18rem; color: white;">
                    <img src="assets/files/Certificados/Introduccion-a-bases-de-datos.jpg" class="card-img-top"
                        alt="Introduccion a base de datos">
                    <div class="card-body">
                        <h5 class="card-title">Todo Code</h5>
                        <p class="card-text">Introduccion a base de datos</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-4 col-md-6 p-2">
                <div class="card bg-transparent shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 18rem; color: white;">
                    <img src="assets/files/Certificados/Java-para-principiantes.jpg" class="card-img-top"
                        alt="Java para principiantes">
                    <div class="card-body">
                        <h5 class="card-title">Todo Code</h5>
                        <p class="card-text">Java para principiantes</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-4 col-md-6 p-2">
                <div class="card bg-transparent p-2 shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 18rem; color: white;">
                    <img src="assets/files/Certificados/Se-Programar-Argentina-Programa.jpg" class="card-img-top"
                        alt="Introduccion a base de datos">
                    <div class="card-body">
                        <h5 class="card-title">Argentina Programa</h5>
                        <p class="card-text">Se programar</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-4 col-md-6 p-2">
                <div class="card bg-transparent p-2 shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 18rem; color: white;">
                    <img src="assets/files/Certificados/Programacion-desde-Cero-EGG.jpg" class="card-img-top"
                        alt="Programacion desde Cero">
                    <div class="card-body">
                        <h5 class="card-title">EGG</h5>
                        <p class="card-text">Programacion desde Cero</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-4 col-md-6 p-2">
                <div class="card bg-transparent p-2 shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 18rem; color: white;">
                    <img src="assets/files/Certificados/Introduccion-a-los-algoritmos.jpg" class="card-img-top"
                        alt="Introduccion a los algoritmos">
                    <div class="card-body">
                        <h5 class="card-title">Todo Code</h5>
                        <p class="card-text">Introducción a los algoritmos y la Programación</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-4 col-md-6 p-2">
                <div class="card bg-transparent p-2 shadow p-3 mb-5 bg-body rounded tarjetas"
                    style="width: 18rem; color: white;">
                    <img src="assets/files/Certificados/Git-y-Github.jpg" class="card-img-top" alt="GitHub">
                    <div class="card-body">
                        <h5 class="card-title">Todo Code</h5>
                        <p class="card-text">Git y GitHub</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
