<!--presentacion-->

<div class="tab-pane fade" id="list-presentacion" role="tabpanel" aria-labelledby="list-presentacion-list">
    <div class="container px-5">
        <form>
            <div class="my-3">
                <label for="presentacion" class="form-label">Presentación</label>
                <textarea class="form-control" id="presentacion" style="height: 120px;"></textarea>
                <button type="button" class="btn btn-outline-light">Guardar</button>
                <button type="button" class="btn btn-outline-warning">Actualizar</button>
                <button type="button" class="btn btn-outline-danger">Eliminar</button>
            </div>
        </form>
    </div>
</div>
