<!--Proyectos-->
<section class="proyectos container-fluid" style="color:white;">
    <h2 class=" text-center h1">Proyectos</h2>


    <!--encriptador-->
    <div class="d-flex proyecto">
        <div class="p-2">
            <img class="w-75 p-2 foto-proyecto" src="assets/img/encriptador.png">
        </div>
        <div class="p-2">
            <div>
                <h2 class="h1 text-start">Encriptador de textos</h2>
                <div class="btn btn-proyecto">
                    <a class="btn btn-light p-2" href="https://github.com/gabito1966/challenge-logica-de-programacion"
                        target="_blank"><span>Repositorio</span></a>
                    <a class="btn btn-outline-light p-2"
                        href="https://gabito1966.github.io/challenge-logica-de-programacion/" target="_blank"><span>Ver
                        demo</span></a>
                </div>
            </div>
        </div>
    </div>

    <!--Ahorcado-->
    <div class="d-flex proyecto">
        <div class="p-2">
            <img class="w-75 p-2 foto-proyecto" src="assets/img/ahorcado.png">
        </div>
        <div class="p-2">
            <div>
                <h2 class="h1 text-center">Juego del Ahorcado</h2>
                <div class="btn">
                    <a class="btn btn-light p-2" href="https://github.com/gabito1966/Tablero-de-Ahorcado"
                        target="_blank"><span>Repositorio</span></a>
                    <a class="btn btn-outline-light p-2" href="https://gabito1966.github.io/Tablero-de-Ahorcado/"
                        target="_blank"><span>Ver demo</span></a>
                </div>
            </div>
        </div>
    </div>

    <!--Alura Store-->
    <div class="d-flex proyecto">
        <div class="p-2">
            <img class="w-75 p-2 foto-proyecto" src="assets/img/Alura-Store.jpg">
        </div>
        <div class="p-2">
            <div>
                <h2 class="h1 text-center">Store</h2>
                <div class="btn">
                    <a class="btn btn-light p-2" href="https://github.com/gabito1966/Challenge-Alura-Geek"
                        target="_blank"><span>Repositorio</span></a>
                    <a class="btn btn-outline-light p-2" href="https://gabito1966.github.io/Challenge-Alura-Geek/"
                        target="_blank"><span>Ver demo</span></a>
                </div>
            </div>
        </div>
    </div>

    <!--Barberia Alura -->
    <div class="d-flex proyecto">
        <div class="p-2">
            <img class="w-75 p-2 foto-proyecto" src="assets/img/barberia.jpg">
        </div>
        <div class="p-2">
            <div>
                <h2 class="h1 text-center">Barbería</h2>
                <div class="btn">
                    <a class="btn btn-light p-2" href="https://github.com/gabito1966/Barberia-Alura"
                        target="_blank"><span>Repositorio</span></a>
                    <a class="btn btn-outline-light p-2" href="https://gabito1966.github.io/Barberia-Alura/"
                        target="_blank"><span>Ver demo</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
