<!--Experiencia-->

<div class="tab-pane fade" id="list-experiencia" role="tabpanel" aria-labelledby="list-experiencia-list">
    <div class="container px-5">
        <form>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="logoEmpresaUno" class="form-label">Logo Empresa</label>
                    <input class="form-control" type="file" id="logoEmpresaUno">
                </div>
                <div class="col-6 mb-3">
                    <label for="experienciaUno" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="experienciaUno">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>
        </form>
    </div>
</div>
