<!--Skills-->

<div class="tab-pane fade" id="list-skills" role="tabpanel" aria-labelledby="list-skills-list">
    <div class="container px-5">
        <form>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsUno" class="form-label">Skills</label>
                    <input type="text" class="form-control" id="skillsUno">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeUno" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeUno">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillDos" class="form-label">Skills2</label>
                    <input type="text" class="form-control" id="skillDos">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeDos" class="form-label">Porcentaje2</label>
                    <input type="text" class="form-control" id="porcentajeDos">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsTres" class="form-label">Skills3</label>
                    <input type="text" class="form-control" id="skillsTres">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeTres" class="form-label">Porcentaje3</label>
                    <input type="text" class="form-control" id="porcentajeTres">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsCuatro" class="form-label">Skills4</label>
                    <input type="text" class="form-control" id="skillsCuatro">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeCuatro" class="form-label">Porcentaje4</label>
                    <input type="text" class="form-control" id="porcentajeCuatro">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsCinco" class="form-label">Skills5</label>
                    <input type="text" class="form-control" id="skillsCinco">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeCinco" class="form-label">Porcentaje5</label>
                    <input type="text" class="form-control" id="porcentajeCinco">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsSeis" class="form-label">Skills6</label>
                    <input type="text" class="form-control" id="skillsSeis">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeSeis" class="form-label">Porcentaje6</label>
                    <input type="text" class="form-control" id="porcentajeSeis">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsSiete" class="form-label">Skills7</label>
                    <input type="text" class="form-control" id="skillsSiete">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeSiete" class="form-label">Porcentaje7</label>
                    <input type="text" class="form-control" id="porcentajeSiete">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

            <div class="row">
                <div class="col-6 mb-3">
                    <label for="skillsOcho" class="form-label">Skills8</label>
                    <input type="text" class="form-control" id="skillsOcho">
                </div>
                <div class="col-6 mb-3">
                    <label for="porcentajeOcho" class="form-label">Porcentaje8</label>
                    <input type="text" class="form-control" id="porcentajeOcho">
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">Guardar</button>
            <button type="button" class="btn btn-outline-warning">Actualizar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>

        </form>
    </div>
</div>
