<!--Presentacion-->
<section class="presentacion" style="color:white;">
    <h2 class="h1 text-center">Presentación</h2>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/Foto Perfil Gabriel.jpg" class="rounded-circle img-fluid perfil" alt="Foto Perfil">
            </div>
            <div class="col-10 mt-5">
                <h4 class="pt-2">
                    Tengo 56 años y estoy casado desde hace mas de 30 años. Soy
                    consultor técnico. Vengo trabajando dentro de la industria desde
                    hace mas de 35 años. Me gusta formar equipos de trabajo donde lo
                    importante sea la cooperacion entre todos sus integrantes. Me
                    considero un lider natural que lleva adelante los proyectos y
                    distribuir las tareas a realizar. Mis desafios son la capacitacion
                    constante, y ese aprendizaje trato de volcarlo en aquellas
                    personas que lo necesitan. Despues de muchos años de trabajar en
                    la industria decidi dar un vuelco dentro de mi carrera y
                    orientarme a la tecnologia que desde que la conoci me impactó y
                    este es el momento adecuado para ese cambio.
                </h4>
            </div>
        </div>
    </div>
</section>
