<!--formacion-->

    <div class="tab-pane fade" id="list-formacion" role="tabpanel" aria-labelledby="list-formacion-list">
        <div class="container px-5">
            <form>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="formacionUno" class="form-label">Formación</label>
                        <input class="form-control" type="file" id="formacionUno">
                        <button type="button" class="btn btn-outline-light">Guardar</button>
                        <button type="button" class="btn btn-outline-warning">Actualizar</button>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="formacionDos" class="form-label">Formación2</label>
                        <input class="form-control" type="file" id="formacionDos">
                        <button type="button" class="btn btn-outline-light">Guardar</button>
                        <button type="button" class="btn btn-outline-warning">Actualizar</button>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
