<!--Experiencia Laboral-->
<section class="experiencia mt-5" style="color:white;">
    <h2 class="h1 text-center">Experiencia Laboral</h2>
    <div class="container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-2">
                <img src="assets/img/Logo-empresas/GG.png" class="logo-empresa" alt="GG Consulting">
                <h2 class="text-center">GG Food Technology Solutions Consultant</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Octubre 2017 － actualidad - Consultor independiente</h2>
                <h3 class="pt-2">
                    • Consultor independiente para el desarrollo de nuevos productos y mejora de procesos
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src="assets/img/Logo-empresas/PampaTrade.jpg" class="logo-empresa" alt="Pampa Trade">
                <h2 class="text-center">Pampa Trade S.A.</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Enero 2016 － Septiembre 2017 - Jefe de Supply Chain</h2>
                <h2>Enero 2006 － Enero 2016 - Jefe de Planta</h2>
                <h3 class="pt-2">
                    • Responsable de compras industriales, Materias Primas y Material de Empaque. <br>
                    • Manejo de inventarios cíclicos y físicos <br>
                    • Logística y distribución <br>
                    • Responsable de compras, planificación de producción, producción, depósito y distribución. <br>
                    • Participe del equipo de Mejora continua e inocuidad para certificación de normas FSSC 22000 <br>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src="assets/img/Logo-empresas/Tulipan.png" class="logo-empresa" alt="Kopelko">
                <h2 class="text-center">Kopelko</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Agosto 2005 － octubre 2005 Supervisor de turno de área estéril</h2>
                <h3 class="pt-2">
                    • Estudio de factibilidad para lograr mejoras de eliminación del polvo ambiental en el proceso de
                    envasado de
                    profilácticos
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src="assets/img/Logo-empresas/Gancia.png" class="logo-empresa" alt="Gancia">
                <h2 class="text-center">Cepas Argentinas</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Septiembre 2003 － junio 2005 Supervisor de Bodega</h2>
                <h3 class="pt-2">
                    • Elaborador de vinicas
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src="assets/img/Logo-empresas/Lipo.png" class="logo-empresa" alt="Productos Lipo">
                <h2 class="text-center">Productos Lipo</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Noviembre 2000 － Julio 2003 jefe industrial</h2>
                <h3 class="pt-2">
                    • Dirección y ejecución de proceso de reciclado de caramelos. <br>
                    • Integrante del equipo interdisciplinario para certificación de HACCP en la empresa
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src="assets/img/Logo-empresas/cadbury-Stani.png" class="logo-empresa" alt="Cadbury Stani">
                <h2 class="text-center">Cadbury Stani</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Mayo 1992 － Julio 2000 Supervisor de Producción</h2>
                <h3 class="pt-2">
                    • Tareas realizadas en las diferentes áreas que componen la compañía: Jellies, Beldent, pastillas,
                    Chocolates, Caramelos
                    masticables y duros. <br>
                    • Control de documentación y seguimiento de los parámetros del control de procesos. <br>
                    • Organización y seguimiento del programa semanal de producción.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src="assets/img/Logo-empresas/terrabusi.png" class="logo-empresa" alt="Terrabusi">
                <h2 class="text-center">E.M.Terrabusi</h2>
            </div>
            <div class="col-10 mt-5">
                <h2>Octubre 1991 － mayo 1992 Supervisor de Producción</h2>
                <h2>Junio 1986 － octubre 1991 Supervisor de Control de calidad</h2>
                <h3 class="pt-2">
                    • Control de procesos productivos, planeamiento semanal de la producción. <br>
                    • Análisis de materias primas, productos elaborados y semielaborados, control y análisis de aguas
                </h3>
            </div>
        </div>
    </div>
</section>
